In [3]:
x="""sudheer"""
print(x)

sudheer

In [2]:
firstname='yamanuri'
lastname='sudheer'
fullname=f"{firstname} {lastname}"
print(fullname.title())
print(fullname)

Yamanuri Sudheer
yamanuri sudheer

In [4]:
x

'sudheer'

In [5]:
type(x)

str

In [5]:
print("i know telugu english hindi")

i know telugu english hindi

In [6]:
print("i know telugu\t\n english \t\n hindi\n\t")

i know telugu
 english
 hindi

In [9]:
name = '   jitesh'
print(name)

   jitesh

In [10]:
name

'   jitesh'

In [11]:
name.lstrip()

'jitesh'

In [13]:
y = 'abhi   '
print(y)

abhi

In [14]:
y

'abhi   '

In [15]:
y.rstrip()

'abhi'

In [16]:
student = ["srinivas", "nishant", "bhargav"]
student

['srinivas', 'nishant', 'bhargav']

In [18]:
print(student[1])

nishant

In [19]:
print(student[2])

bhargav

In [21]:
student.append('sudher')

['srinivas', 'nishant', 'bhargav', 'sudher', 'sudher']

In [22]:
print(student)

['srinivas', 'nishant', 'bhargav', 'sudher', 'sudher']

In [23]:
del student[3]
print(student)

['srinivas', 'nishant', 'bhargav', 'sudher']